<style>
    :host {
        font-family: 'Roboto', sans-serif;
        display: block;
        height: 100%;
    }

    .container {
        height: 100%;
        background-color: #eaeaea;
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        margin-bottom: 15vh;
    }

    button {
        width: 70%;
        font-size: 18px;
        font-weight: 800;
        color: #533a7b;
        background-color: #98c1d9;
    }

    button:first-of-type {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    button:last-of-type {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .logo {
        color: #25171a;
        font-size: 24px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        margin-right: 10px;
        position: absolute;
        background-color: #98c1d9;
    }

    .slide-top {
        animation: slide-top 0.6s ease-in reverse both;
    }

    .slide-left {
        animation: slide-left 0.6s ease-out normal both;
    }

    .slide-right {
        animation: slide-right 0.6s ease-out normal both;
    }

    @keyframes slide-top {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100px);
        }
    }

    @keyframes slide-left {
        0% {
            transform: translateX(-100px);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes slide-right {
        0% {
            transform: translateX(100px);
        }

        100% {
            transform: translateX(0);
        }
    }
</style>
<div class="container">
    <div class="logo slide-top">
        Niebezpieczny Zlew
    </div>

    <div class="actions">
        <button id="btnEdit" class="slide-left">Edytuj ścieżkę</button>
        <button id="btnPlay" class="slide-right">Graj</button>
    </div>
</div>