<style>
    #map {
        width: 100%;
        height: 100%;
    }

    .marker {
        background-color: #a5b2be;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
    }

    .marker::after {
        width: 16px;
        height: 16px;
        background-color: blue;
        content: '';
        left: 8px;
        top: 8px;
        transform: rotate(45deg);
        position: absolute;
    }

    .marker-current-position {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: red;
    }

    .button {
        font-weight: 700;
    }

    .button.active {
        background-color: #a5b2be !important;
    }

    .button:active {
        font-size: 2em;
    }
</style>

<div id="map"></div>
