<style>
    :host {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fdfbfb;
        opacity: 1;
        animation: fadeIn 0.5s;
        z-index: 10;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>

<slot></slot>