<style>
    :host {
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        display: block;
        height: 100%;
    }

    .offline {
        font-weight: 700;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="offline">
    Brak internetu
</div>