<style>
    :host{
            font-family: 'Roboto', sans-serif;
            padding: 10px;
            display: block;
        }
        .bold {
            font-weight: 600;
        }
        button {
            display: block;
            width: 100%;
            font-size: 17px;
            padding: 6px;
            margin: 10px 0px;
        }
        textarea {
            width: 100%;
        }
    </style>

<form style="padding-top: 15px">
    <div>
        <label for="description" class="bold">Opis</label>
    </div>
    <div id="description"></div>
    <div>
        <label for="password" class="bold">Hasło</label>
    </div>
    <textarea id="password" type="text"></textarea>
    <button type="submit">Odgadnij hasło</button>
    <button type="button" id="cancel">Anuluj</button>
    <div id="error">
    </div>
</form>